/* used for defining general button classes */
.btn-default {
    background-color: $btn-bg-default;
    border-radius: 0;
    border: 2px solid $btn-border;
    color: $btn-text;
    font-size: 20px;
    font-weight: 600;
    width: 35%;
    padding: 20px 0;

    &:hover {
        background-color: $btn-bg-hover;
        color: $btn-text-hover;
    }

    &:focus {
        background-color: $btn-bg-focus;
        color: $btn-text-focus;
    }
}

.basic-button {
    margin: 30px 0;
    width: 15%;
    display: block;
}

.alt-button {
    border-radius: 5px;
    background-color: $btn-bg-focus;
    color: $btn-text-focus;
    width: 25%;
    margin: 30px auto;
    display: block;
}
.btn-next-question{
    width: auto;
    margin: 30px auto;
    padding: 12px 20px;
    display: block;
}

.centered-button-wrap {
    text-align: center;

    .basic-button {
        width:auto;
        padding: 12px 20px;
        margin: 0 auto;
    }
}
